<div class="container" >
	<div ng-repeat="tw in twits | filter:isBlock track by $index " >
		<div class="context">
		</div>
		<div class="twitContent" ng-click="go(twits.indexOf(tw),'/twitDetails')" >
			<div class="twitHeader">
				<a>
					<img class="profilePicture col-1" src="{{ tw.user.profile_image_url}}">
					<strong class="fullName">{{ tw.user.name }}</strong>
					<span>‏&rlm;</span>
					<span class="userName">
						<s>@</s>
						<b>{{ tw.user.screen_name }}</b>
						<b class="timeDiff">{{tw.timeDiff}}</b>
					</span>
				</a>
			</div>
			<div class="textSize">
				 
				 <div compile="tw.text"></div>
			</div>

		</div>	
	</div>
</div>