<div class="container" >
	<div ng-repeat="tw in twits  | filter:isBlock track by $index " ng-click="go(twits.indexOf(tw),'/trendingTwitDetails')">
		<div class="context">

		</div>
		<div class="twitContent" >
			<div class="twitHeader">
				<a>
					<img class="profilePicture col-1" src="{{ tw.user.profile_image_url}}">
					<strong class="fullName" >{{ tw.user.name }}</strong>
					<span>‏&rlm;</span>
					<span class="userName">
						<b>@</b>
						<b>{{ tw.user.screen_name }}</b>
						<b class="timeDiff">{{tw.timeDiff}}</b>
					</span>
				</a>
			</div>
			<p class="textSize">
				
    			
				 <div compile="tw.text"></div>
			</p>

		</div>	
	</div>
</div>