<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css"> 
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
       
      <div class="container">
          <div class="row clearfix">
             <div class="view view-first">
               <div class="column fourth">
                   <img src="img/img1.jpg" />  
                   <div class="mask">  
                     <h2>Globo Terreaqueo</h2>  
                     <p>Haga su viaje en globo</p>  
                   </div>  
                 </div>
              </div>

             <div class="view view-first">
               <div class="column tres">
                   <img src="img/img2.jpg" />  
                   <div class="mask">  
                     <h2>Tarjetas</h2>  
                     <p>Tenga que ofrecerle a sus clientes</p>  
                   </div>  
                 </div>
              </div>

            <div class="view view-first">
               <div class="column tres">
                   <img src="img/img3.jpg" />  
                   <div class="mask">  
                     <h2>Dados</h2>  
                     <p>No deje de divertirse</p>  
                   </div>  
                 </div>
            </div>
          </div>
  
  <div class="row clearfix">
             <div class="view view-first flow-opposite">
               <div class="column tres">
                   <img src="img/img4.jpg" />  
                   <div class="mask">  
                     <h2>Lamparitas</h2>  
                     <p>Sepa como reciclar sus lamparitas</p>  
                   </div>  
                 </div>
              </div>

             <div class="view view-first">
               <div class="column tres">
                   <img src="img/img5.jpg" />  
                   <div class="mask">  
                     <h2>Peluche</h2>  
                     <p>Regalele un peluche a su novia</p>  
                   </div>  
                 </div>
              </div>

            <div class="view view-first">
               <div class="column tres">
                   <img src="img/img6.jpg" />  
                   <div class="mask">  
                     <h2>Lluvia</h2>  
                     <p>nada mas lindo que dormir</p>  
                   </div>  
                 </div>
            </div>
          </div>
    
    </body>
</html>