 <div class="container" ng-controller="MoviesCtrl">
      <form>
        <input class="add-input" placeholder="Title" type="text" ng-model="formTitleText" ng-model-instant />
        <input class="add-input" placeholder="duration" type="number" ng-model="formDurationText" ng-model-instant />
        <input class="add-input" placeholder="Rate" type="number" ng-model="formRateText" ng-model-instant />
        <button class="add-btn" ng-click="addMovie()"><h2>Add</h2></button>
      </form>

              <section  ng-include=" 'movie-template' ">
              </section>
  </div>


          <script type="text/ng-template" id="movie-template">
          <div class="col-4" ng-repeat="movie in movies track by $index">
              <div class="movie" ng-class="class_editing">                
                <h1 class="title" ng-dblclick="class_editing='editing'" > {{movie.title}}</h1>
                <input type="text" ng-model="movie.title" ng-enter="editMovie($index); class_editing=''" ng-blur="editMovie($index); class_editing=''" class="input-edit title-edit">
                 <div class="movie-body">
                    <h3 class="duration">{{movie.duration}} </h3>
                    <h4 class="rate"> {{movie.rate}} </h4>
                </div>
                <div>
                <button class="remove-movie" ng-click="removeMovie($index)">Remove</button>
                <a class="details-movie" href="#/details/{{$index}}">Details</a>
                </div>
              </div>
              


          </div>    
        </script>