body {
      background: #fff;
  }

  .col-1, .col-2, .col-3, .col-4, .col-6 {
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    padding: 5px;
  }

   .col-1 { width: 10%; }
   .col-2 { width: 16.66%; }
   .col-3 { width: 25%; }
   .col-4 { width: 33.33%; }
   .col-6 { width: 50%; } 
   .col-10 { width: 80%; }
   .col-12 { width: 100%; }

  .clearboth{
    clear:both;
  }


  header h1{
      background-color: #55acee;
      margin: 0;
      color: #fff;
      padding: 7px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
  }

  header i.fa-twitter{
      color: #21759b;
      margin-right: 7px;
  }

  .twitHeader .profilePicture {
      border-radius: 10px;
  }

  .twitContent .fullName {
      font-weight: bold;
      color: #292f33;
  }
    .fullName .fa-twitter{
    
      color: #21759b;
  }
  .userName {
      direction: ltr;
      unicode-bidi: embed;
      color: #8899a6;
  }

  .twitContent .textSize {
    margin:2px;
    padding: 10px;
    padding-left: 5px;
  }

  .twitContent{
      position: relative;
      padding: 9px 5px;
      border-bottom: 2px solid #e1e8ed;
  }


  .container{
      padding-top: 20px;
      margin: auto;
      max-width: 98%;
  }

  header{

      margin: auto;
      max-width: 98%;
  }

  .menu{
      background-color: #292133;
      padding: 15px 10px;
  }



  .twitContent .blockUserBtn{
       float:right;
    background: #e1e8ed;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #e1e8ed;
    font-size: 14px;
    background: #e1e8ed;
    border: solid #e1e8ed 1px;
    text-decoration: none;
  }

  .twitContent .blockUserBtn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
  .twitContent .blockUserBtn .fa-ban{
       color: #21759b;
  }
  .blockedUser{
      padding-bottom: 10px;
      padding-top: 10px;
      margin:15px;    
      border-bottom: 2px solid #e1e8ed;

  }
  .blockedUser b{  
      margin-top: 5px;
      direction: ltr;
      color: #8899a6;
  }
  .blockedUser .fa {
    float: right;
    color: #8899a6;
    cursor: pointer;
  }

  .inputBlockUser{
    width: 85%;
    border-radius: 5px;
    color: #2E64FE;
    border: 3px solid #e1e8ed;
  }

  .formUser{
    padding: 10px;
    border-bottom: 2px solid #e1e8ed;
  }

  .formUser button{

   float:right;
    background: #e1e8ed;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    background: #e1e8ed;
    border: solid #e1e8ed 1px;
    text-decoration: none;

  }

  .formUser button:hover {
    background: #08088A;
    text-decoration: none;
  }
  .formUser .fa-plus{
    color: #4099FF;
  }

  .formUser .fa-twitter{
    
    color: #4099FF;
  }
  .twitContent .profilePicture{
    border-radius: 10px;
  }

  .twitDetail .profilePicture{
    border-radius: 10px;
  }

  .twitDetail .user{
    padding: 20px;
  }

  .twitDetail .twitHeader button{
   float:right;
    background: #e1e8ed;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    background: #e1e8ed;
    border: solid #e1e8ed 1px;
    text-decoration: none;
  }


  .twitDetail .twitHeader button:hover {
    background: #4099FF;
    text-decoration: none;
  }
  .trending{
    padding: 15px;
    border-bottom: 2px solid #e1e8ed;
  }
  .twitDetail .textSize{

    padding-bottom:15px; 
  }


  .twitDetail .twitData{
    border-bottom: 2px solid #e1e8ed;
    padding: 15px;
    border-top: 2px solid #e1e8ed;
  }


  .twitDetail .space{
    padding-left: 15px;
  }

  .twitDetail .word{
    color:#BDBDBD;
  }

  .fa-circle{
    margin-top: 10px;
  }
  .twitDetail .groupButton .fa{
    color:#BDBDBD;
  }
  .twitDetail .groupButton{
    padding: 15px;
  }

  .trending .trendingName{
    font-weight: bold;
  }

  .trending .fa{
    float:right;
    color:#BDBDBD;  
  }

  .timeDiff{
    float:right;
  }
  .tttwitDetail .user{
    padding: 20px;
  }

  .tttwitDetail .textSize a{
      font-size: 18px;
  }
  .tttwitDetail .twitHeader button{
   float:right;
    background: #e1e8ed;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    background: #e1e8ed;
    border: solid #e1e8ed 1px;
    text-decoration: none;
  }


  .tttwitDetail .twitHeader button:hover {
    background: #4099FF;
    text-decoration: none;
  }
  .tttwitDetail .textSize{
  padding-bottom: 15px;
  padding-top: 15px;
    
  }
  .tttwitDetail .twitData{
    border-bottom: 2px solid #e1e8ed;
    padding: 15px;
  }
  .tttwitDetail .space{
    padding-left: 15px;
  }

  .tttwitDetail .word{
    color:#BDBDBD;
  }

  .tttwitDetail .groupButton .fa{
    color:#BDBDBD;
  }
  .tttwitDetail .groupButton{
    padding: 15px;
  }
  .tttwitDetail{
    border-bottom: 2px solid #e1e8ed;
  }
  .tttwitDetail .time{ 
    color:#BDBDBD;  
  }

  .twitDetail .time{ 
    color:#BDBDBD;  
    padding: 10px;
  }

  a:link   
  {   
   text-decoration:none;   
   color:#0084B4;
  } 
   
  .menuIcon{
    text-align: center;  
    background: #292f33;
    padding-bottom:  : 20px;
  }
  .mimenu{
   padding-bottom: 50px;
  }
  

  .twitContent .isRetweeted .fa{
     color:#266A2E;
  }
  .twitContent .isRetweeted{
    padding-left: 4%;
    padding-bottom: 7px;
  }
  .tttwitDetail .isRetweeted{
     padding-left: 4%;
    padding-bottom: 7px;
  }
  .tttwitDetail .isRetweeted .fa{
      color:#266A2E;
  }

  .twitDetail .isRetweeted{
     padding-left: 4%;
    padding-bottom: 7px;
  }
  .twitDetail .isRetweeted .fa{
      color:#266A2E;
  }
  .mimenu.fa{
    color:#585858;
  }

.mimenu a{
  color:#585858;
}

nav a.active span{
  color: #55acee;
}

nav a.active i{
  color: #fff;
}
nav a:hover span{
  text-decoration: underline
}

a:hover {
  text-decoration: underline
}
 .twitDetail .twitPhoto{
      padding-left: 30px;
  }

.tttwitDetail .twitPhoto{
    padding-left: 30px;
}