body {
    background: #fff;
    color: #292f33;
    font-size: 14px;
 	 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.col-1, .col-2, .col-3, .col-4, .col-6 {
	float: left;
	min-height: 1px;
	box-sizing: border-box;
	padding: 5px;
}

 .col-1 { width: 10%; }
 .col-2 { width: 16.66%; }
 .col-3 { width: 25%; }
 .col-4 { width: 33.33%; }
 .col-6 { width: 50%; }
 .col-12 { width: 100%; }

.clearboth{
	clear:both;
}
.content {
}
.menu{
 	width:100%;
}
.profilePicture {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.fullName {
    font-weight: bold;
    color: #292f33;
}
.userName {
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: #8899a6;
}

.textSize {
	margin:2px;
    padding-left: 5px;
}
.context {
}
.twitContent{
	margin:10px;
}

.twitContent{
    position: relative;
    min-height: 51px;
    padding: 9px 12px;
    border-bottom: 2px solid #e1e8ed;
}
.twitsContent{
    position: relative;
    min-height: 51px;
    padding: 9px 12px;
    border-bottom: 2px solid #e1e8ed;
}
